.clearfix:after {
  display: table;
  content: "";
  clear: both; }

html {
  height: 100%; }

body {
  font: 16px/1.4 "Ubuntu", Georgia;
  color: #333;
  background-color: white;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  height: 100%; }

a {
  color: #da251d; }

.main-container {
  width: 720px;
  margin: 0 auto -80px;
  min-height: 100%;
  height: auto !important;
  height: 100%; }

header {
  margin-bottom: 60px; }

.blog-title {
  font-size: 38px;
  float: left;
  color: #333333;
  text-decoration: none; }

.letter-w {
  color: #da251d;
  font-size: 46px; }

.main-nav {
  float: right;
  margin-top: 10px; }

.main-nav__nav-item {
  float: left;
  list-style: none;
  margin: 0 10px; }

.date {
  text-transform: uppercase; }

.footer-push {
  height: 80px; }

footer {
  display: block;
  position: relative;
  text-align: center;
  font-size: 12px;
  background: #da251d;
  height: 80px;
  line-height: 80px; }
  footer, footer a {
    color: #f5b7b4; }

.post-list {
  width: 80%;
  margin: 0 auto;
  text-align: center; }

.post-list__item {
  margin-bottom: 30px; }

.post-list__item__title {
  font-size: 26px;
  text-decoration: none; }

.post-list__item__date {
  color: #999;
  font-size: 14px;
  margin: 0 10px; }

.post-list__item__author {
  color: #AAA; }

.post__title {
  margin: 0;
  font-size: 36px;
  color: #da251d; }

.post__meta {
  margin: 0 0 10px;
  color: #AAA; }

.pager {
  text-align: center;
  color: #999;
  margin: 40px 0; }

/*
Scrollbars
 */
/* Inspired by beautiful scrollbar 
 * on Joshua Hibbert's website: http://joshnh.com/
 */
::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 14px; }

::-webkit-scrollbar-thumb {
  background-color: #da251d; }

::-webkit-scrollbar-track {
  background-color: white; }

/*
Media queries
 */
@media only screen and (max-width: 960px) {
  .main-container {
    width: 90%; } }
