.article-list {
    display: grid;
    grid-template-columns: 50% 50%;

    .article-box {
        margin-bottom: 30px;
        display: inline-block;
        width: auto;
        transition: all 0.25s ease;
        padding-top: 20px;

        .author-image {
            width: 30px;
            height: 30px;
            display: inline-block;
            border-radius: 15px;
            margin-bottom: 0;
        }

        .author-description {
            display: inline-block;
            margin-left: 10px;
        }

        .thumbnail-container {
            height: 200px;
            overflow: hidden;
            text-align: center;
            img {
                min-height: 100%;
            }
        }

        .author-name {
            margin-top: 0;
            margin-bottom: 0;
        }

        &:hover {
            cursor: pointer;
        }

        .right {
            padding: 15px;
            color: #3c4856;
            margin-top: -20px;

            .meta {
                margin-bottom: 20px;
                font-size: 0.7rem;
            }
        }
    }
}

@media (max-width: 768px) {
    .article-list {
        grid-template-columns: 100%;
    }
}