---
layout: default
---

<section class="post">
  <h2 class="post__title" href="{{page.url}}"> "{{page.title}}" </h2>
  
  <!-- <small style="font-size: 12px;"><a href="{{page.url}}#disqus_thread"></a></small>
   -->
  <!-- <a href="/team/#{{page.authorslug}}">
    <img src="/images/team/{{page.authorslug}}.png" class="img-circle pull-right" style="width: 80px; height: 80px;">
  </a>
 -->
  <p class="post__meta">
    Posted by 
    <a href="/team/#{{page.authorslug}}" class="author">
      {{ page.author }}
      {% include author-tooltip.html %}
    </a> on {{ page.date | date: "%B %e, %Y" }}
  </p>

{{ content }}

</section>

<section class="pager">
  {% if page.previous %}
    <a rel="prev" title="Previous: {{ page.previous.title }}" href="{{ page.previous.url }}">previousPost()</a>
  {% else %}
    NULL
  {% endif %}

  &nbsp;&nbsp;|&nbsp;&nbsp;

  <a href="/">home()</a>
  
  &nbsp;&nbsp;|&nbsp;&nbsp;

  {% if page.next %}
    <a rel="next" title="Next: {{ page.next.title }}" href="{{ page.next.url }}">nextPost()</a>
  {% else %}
    NULL  
  {% endif %}
</section>

{% include comments.html %}
