---
layout: default
---

<ul class="pager">
  <li class="previous">
  {% if page.previous %}
    <a rel="prev" title="Previous: {{ page.previous.title }}" href="{{ page.previous.url }}">&larr; {{ page.previous.title }}</a>
  {% endif %}
  </li>
  <li class="next">
  {% if page.next %}
    <a rel="next" title="Next: {{ page.next.title }}" href="{{ page.next.url }}">{{ page.next.title }} &rarr;</a>
  {% endif %}
  </li>
</ul>

<div class="page-header">
  <h1 style="float: left;"><a href='{{page.url}}'>{{page.title}}</a></h1>
  <img src="/images/team/{{page.authorslug}}.png" class="img-circle pull-right" style="width: 80px; height: 80px; margin-top: 14px;">
<p style="float: left;">Posted by <strong>{{page.author}}</strong> on {{ page.date | date: "%B %e, %Y" }} | <small style="font-size: 16px;"><a href="{{page.url}}#disqus_thread"></a></small></p>
    <div style="clear: both;"></div>
</div>
{{ content }}
<hr/>

<script type="text/javascript">
var disqus_shortname = 'wingifyengineering';
(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'wingifyengineering'; // required: replace example with your forum shortname

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
