---
layout: default
---

<div class="page-header">
  <h1>
    <a href='{{page.url}}'>{{page.title}}</a>
    <small style="font-size: 16px;"><a href="{{page.url}}#disqus_thread"></a></small>
    <a href="/team/#{{page.authorslug}}">
      <img src="/images/team/{{page.authorslug}}.png" class="img-circle pull-right" style="width: 80px; height: 80px;">
    </a>
  </h1>
<p>Posted by <a href="/team/#{{page.authorslug}}">{{page.author}}</a> on {{ page.date | date: "%B %e, %Y" }}</p>
</div>
{{ content }}

<ul class="pager">
  <li class="previous">
  {% if page.previous %}
    <a rel="prev" title="Previous: {{ page.previous.title }}" href="{{ page.previous.url }}">&larr; {{ page.previous.title }}</a>
  {% endif %}
  </li>
  <li class="next">
  {% if page.next %}
    <a rel="next" title="Next: {{ page.next.title }}" href="{{ page.next.url }}">{{ page.next.title }} &rarr;</a>
  {% endif %}
  </li>
</ul>

{% include comments.html %}
