<div class="angular-time-picker-rapper">
	<span class="angular-time-picker-button"
		ng-class="theme"
		title="Time Picker"
		ng-click="dropdownToggleState = !dropdownToggleState;">
			<span ng-show="!noRange">{{ timeSettings.fromHour + ':' + timeSettings.fromMinute + ' - ' + timeSettings.toHour + ':' + timeSettings.toMinute }}</span>
			<span ng-show="noRange">{{ timeSettings.fromHour + ':' + timeSettings.fromMinute }}</span>
		<i class="angular-time-picker-caret" ng-class="theme"></i>
	</span>
	<div ng-show="dropdownToggleState" class="angular-time-picker-dropdown__menu  angular-time-picker-theme" ng-class="theme">
		<div>
			Start:
			<span class="angular-time-picker-float--right">
				<!-- `browser-default` class is being used as materializecss framework override default select css-->
				<!-- Thus to prevent this, adding a class. Materializecss is a famous framework for Material Design. -->
				<select ng-model="startingHour" class="browser-default">
					<option ng-repeat="option in startingTimeHoursRange" ng-disabled="option.disabled" value="{{option.value}}">{{option.name}}</option>
				</select>
				:
				<select ng-model="startingMinute" class="browser-default">
					<option ng-repeat="option in startingTimeHMinutesRange" ng-disabled="option.disabled" value="{{option.value}}">{{option.name}}</option>
				</select>
			</span>
		</div>
		<div class="angular-time-picker-push--top" ng-show="!noRange">
			End:
			<span class="angular-time-picker-float--right">
				<select ng-model="endingHour" class="browser-default">
					<option ng-repeat="option in endingTimeHoursRange" ng-disabled="option.disabled" value="{{option.value}}">{{option.name}}</option>
				</select>
				:
				<select ng-model="endingMinute" class="browser-default">
					<option ng-repeat="option in endingTimeHMinutesRange" ng-disabled="option.disabled" value="{{option.value}}">{{option.name}}</option>
				</select>
			</span>
		</div>
		<div class="angular-time-picker-push--top">
			<button ng-click="resetToOriginalTimeSettings()">Reset</button>
			<button class="angular-time-picker-push-half--left  angular-time-picker-float--right  angular-time-picker-apply-btn" ng-click="applyTimeRangeFilter()">Apply</button>
			<button class="angular-time-picker-push-half--left  angular-time-picker-float--right  angular-time-picker-cancel-btn" ng-click="closeTimeFilterDropdown()">Cancel</button>
		</div>
	</div>
</div>
